@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #14b8a6; /* teal-500 */
  --accent: #f59e0b;  /* amber-500 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
